<%= form_for @user do |f| %>

  <%= f.label :username %>
  <%= f.text_field :username %>

  <%= f.label :password %>
  <%= f.password_field :password %>

  <%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation %>
  
  <% if @user.errors %>
    <% @user.errors.full_messages.each do |error_msg| %>
      <p class="error"><%= error_msg %></p>
    <% end %>
  <% end %>
  
  <%= f.submit "Sign Up" %>
<% end %>